:root {
  --primary-bg-color: #AE5633;
  --primary-font-color: #212A2E;
  --secondary-bg-color: #212A2E;
  --secondary-font-color: #AE5633;
  --accent-color-1: #5E3124;
  --accent-color-2: #f0AD5F;
  --accent-color-3: #718A91;
}

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  font-family: Arial;
  background: #212A2E;
  color: #f0AD5F;
  margin-top: 1%;
  min-width: 400px;
  max-width: 4000px;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  width: 100%;
}

.headertxt {
  padding-top: 7px;
  padding-left: 5px;
  float: left;
  color: #73c89c;
}

.headerlogo {
  float: left;
}

.headerbtn {
  float: right;
  
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  border-left: solid #AE5633 1px;
  border-right: solid #AE5633 1px;
  border-top: solid #AE5633 1px;
  width: auto;
}

.section {
  display: none;
  width: 100%;
  min-height: 50px;
  line-height: 2rem;
  padding-left: 10px;
  margin-bottom: 10px;
}

.section.active {
  display: block;
}

footer {
  color: #AE5633;
  text-align: center;
  margin-bottom: 0px;
  border: solid #AE5633 1pt;
  height: 30px;
  padding-top: 5px;
  width: auto;
}

.nav {
  position: relative;
  width: 100%;
  left: 0%;
  height: 40px;
  display: flex;
  margin-top: 5px;
  border-top: solid #AE5633 1px;
}

.nav a {
  color: #f0AD5F;
  text-decoration: none;
  padding: 10px 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
  background-color: #AE5633;
  color: #212A2E;
}
